version: '3.8'
services:
  web:
    container_name: server
    depends_on:
      - db
    build: .
    ports:
      - "80:80"
      - "443:443"
    environment:
      - DATABASE_URL=postgres://postgres:s@db:5432/postgres
  
  db:
    container_name: db
    image: postgres:alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=s
      - POSTGRES_USER=postgres